
main {
    width: 100%;
    height: 100%;
    padding-top: 7rem;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.pagefilter {
    min-width: 250px;
    max-width: 350px;
    width: 30vw;
    height: 100%;
    padding: 2rem 2rem 2rem 0;
    
}


.pagecontent {
    width: calc(100% - 30rem);
    height: 100%;
    border-left: 1px solid $light-gray;
    
    .inner-content {
        padding: 0 3rem 2rem 3rem;
        height: 100%;
    }
}

.search-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 0 0 1.2rem;

    .recommended-box {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 1.6rem;
    }
}

.jobs {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 4.5rem;
    margin-top: 4rem;
}